body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/images/bg.avif');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
}

.chatbox {
    width: 500px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbox-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.chatbox-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chatbox-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e10d0d;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin: 5px 0;
}

.user-message {
    text-align: right;
    text-decoration-color: violet;
    -webkit-text-fill-color: green;
    text-size-adjust: 30px;
}

.bot-message {
    text-align: left;
}
